body{
    background-color: indianred ;
}
label{
    font-size: larger;
    color: rgb(230, 245, 18);
}

#Mob{
    color: brown !important;
}
.mob{
    color: rgb(130, 121, 121) !important;
}
.are{
    color:darkcyan
}